@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Date Validator</h3>
    
    <input type="text" id="txtDate" readonly="readonly" />
    <br />
    <span id="lblError" style="color:Red"></span>
</div>
