@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>@Model.Greeting </h2>
    <hr />
   
    <br />
    <span id="lblError" style="color:Red"></span>
</div>
